<div class="row" style="text-align:right; margin:5px;">
  <label for="productNameId">Customer Name</label>
  <input style="width:150px;" type="text" [(ngModel)]="custId" />
  <a class="btn btn-success" (click)="getCustomer()">
    Get Customer Orders
  </a>
  <a class="btn btn-success" [routerLink]="['/orderAdd', custId]">
    Add Order
  </a>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>


  <div class="panel-body">

    <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

    <div class="table-responsive">
      <table class="table" *ngIf="customer">
        <thead>
          <tr>
            <th>Order ID</th>

            <th>ShipCity</th>

            <th>ShipCountry</th>
            <th>Order Date</th>
            <th>Shipped Date</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of customer.orders">

            <td>
              <a [routerLink]="['/orderEdit', order.orderID]">
                {{order.orderID}}
              </a>
            </td>

            <td> {{order.shipCity}}</td>

            <td>{{order.shipCountry}}</td>
            <td>{{order.orderDate|date: 'dd/MM/yyyy'}}</td>
            <td>{{order.shippedDate|date: 'dd/MM/yyyy'}}</td>

            <td>
              <a class="btn btn-primary"
                 [routerLink]="['/orderEdit', order.orderID]">
                Edit
              </a>
            </td>
            <td>
              <a class="btn btn-primary" (click)="deleteOrder(order.orderID)">
                Delete
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
